<div class="navbar">
    <div class="navbar_container">
       <a href="" class="navbar-logo">
       <img src="assets/img/logo.svg" alt="">
       </a>
       <div class="navbar-menu">
          <a href="" class="navbar-link">
          Pricing
          </a>
          <button class="navbar-link navbar_btn desktop-link" (click)="firstComponentFunction()">
          Upload
          </button>
          <img src="assets/img/ic_file_download_black_24px.svg" class="navbar-link mobile-download-btn" alt="" (click)="firstComponentFunction()">
       </div>
    </div>
 </div>